{% extends "weather/base_test.html" %}
{%  block content %}
<div class="row">
    <h2>Chart.js — Pie Chart Demo</h2>
  <div>
    <canvas id="myChart"></canvas>
  </div>
</div>
{% endblock %}

{% block scripts %}
var ctx = document.getElementById("myChart").getContext('2d');
var myChart = new Chart(ctx, {
  type: 'pie',
  data: {
    labels: ["Green", "Blue"],
    datasets: [{
      backgroundColor: [
        "#2ecc71",
        "#3498db"
      ],
      data: [12, 19]
    }]
  }
});
{% endblock %}
